
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.iml
*.apk
*.dex
*.class
*.ipr
*.iws
*.log
*.ap_
bin/
gen/
.gradle/
.idea/
.navigation/
captures/
build/
/*/build/
proguard/
